.listGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  background: #fff;
  font-size: 1.6rem;
  color: #292b2c;
}
.listGroupItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 1rem 1.25rem;
  border-bottom: solid 1px rgba(0,0,0,.125);
  margin-bottom: -1px;
}
.topicTitle {
  max-width: 70%;  
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: .75rem 0;
  color: #292b2c;  
}

@media(max-width: 960px) {
  .listGroup {
    font-size: 1.4rem;
  }
}