.listGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  background: #fff;
  font-size: 1.6rem;
  color: #292b2c;
  border-radius: .25rem;
}
.listGroupItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 1rem 1.25rem;
  border-bottom: solid 1px #f0f0f0;
  margin-bottom: -1px;
}
.listGroupItem:hover {
  background: #f6f6f6;
}

/* 话题元素 */
/* 头像 */
.avatar {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}
/* 标题 */
.topicTitle {
  max-width: 70%;  
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: .75rem 0;
  color: #292b2c;  
}
/* 标签 */
.topicTag {
  font-size: 1.2rem;
  padding: 2px 4px;
  margin-right: .5rem;
  border-radius: .25rem;  
  background: #e5e5e5;
  color: #999;
}
.topicTagTop {
  background: #80bd01;
  color: #fff;
}
/* 最后一次回答 */
.topicLastReply {
  position: absolute;
  right: 1.25rem;
  float: right;
  font-size: 1.1rem;
}

@media(max-width: 960px) {
  .listGroup {
    font-size: 1.4rem;
  }
}
@media(max-width: 840px) {
  .topicTitle {
    width: 60%;
  }
}