html {
  font-size: 62.5%; /* 10px */
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  background: #e1e1e1;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

/* 自定义icon */
@font-face {font-family: "iconfont";
  src: url(../iconFont/iconfont.eot?t=1499312160381); /* IE9*/
  src: url(../iconFont/iconfont.eot?t=1499312160381#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(../iconFont/iconfont.woff?t=1499312160381) format('woff'), /* chrome, firefox */
  url(../iconFont/iconfont.ttf?t=1499312160381) format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url(../iconFont/iconfont.svg?t=1499312160381#iconfont) format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  /*font-size:16px;*/
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanyu {
  width: 24px;
}
.icon-login:before { content: "\e60d"; }
.icon-fenxiang:before { content: "\e611"; }
.icon-guanyu:before { content: "\e659"; }
.icon-zhaopin:before { content: "\e600"; }
.icon-menu:before { content: "\e851"; }
.icon-wenda:before { content: "\e808"; }
.icon-huo:before { content: "\e64e"; }
.icon-quanbu:before { content: "\e61b"; }
