.root {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: .1rem;
}
.pageFooter {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 1.4rem;
}
/* 页码 */
.pageAction, 
.pageNum {
  margin: 0 3px;  
  padding: 6px 12px;
  line-height: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: .25rem;  
  /*border-left-width: 0;*/
  color: #778087;
}
/* 当前页码 */
.pageNumCurrent {
  background: #80bd01;
  color: #fff;
}

/* 前进 后退 */
.pageActionActive {
  color: #80bd01;
  border: 1px solid #80bd01;
}
.pageAction:hover {
  color: #80bd01;
}
/* 快进 */
.pageActionSpeedLeft::after,
.pageActionSpeedRight::after {
  content: '\2022\2022\2022';
  padding: 0 6px;
  color: #778087;  
}
.pageActionSpeedRight:hover::after {
  content: '\003e\003e';
  padding: 0 5px;
  color: #80bd01;
}
.pageActionSpeedLeft:hover::after {
  content: '\003c\003c';
  padding: 0 5px;
  color: #80bd01;
}