.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-top: .1rem;
}
.pageFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  font-size: 1.4rem;
}
/* 页码 */
.pageAction, 
.pageNum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 34px;
  margin: 0 3px;  
  line-height: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: .25rem;  
  /*border-left-width: 0;*/
  color: #778087;
}
/* 当前页码 */
.pageNumCurrent {
  background: #80bd01;
  color: #fff;
}

/* 前进 后退 */
.pageActionActive {
  color: #80bd01;
  border: 1px solid #80bd01;
}
.pageAction:hover {
  color: #80bd01;
}
/* 快进 */
.pageActionSpeedLeft::after,
.pageActionSpeedRight::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  content: '\2022\2022\2022';
  color: #778087;  
}
.pageActionSpeedRight:hover::after {
  content: '\003e\003e';
  color: #80bd01;
}
.pageActionSpeedLeft:hover::after {
  content: '\003c\003c';
  color: #80bd01;
}