/* 回复数 */
.replyNum {
  font-size: 1.4rem;
  color: #424242;
  background-color: #F5F5F5;
  padding: 1rem 1.5rem;
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
}

/* 回复列表 */
.replyList {
  background-color: #fff;
  padding: 1rem 1.5rem 0 0; 
  border-bottom: 1px solid #EEEEEE;  
}
.replyList:last-child {
  border-bottom-left-radius: .2rem;
  border-bottom-right-radius: .2rem;
}
/* 用户信息 */
.userInfo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
}
.userInfo .no {
  margin: 0 .6rem;
  color: #9E9E9E;
  font-size: 1.4rem;
  font-weight: bold;
}
.userInfo .avatar {
  height: 30px;
  width: 30px;
  border-radius: .2rem;
}
.userInfo .loginname {
  margin-left: 1rem;
}
.userInfo .opt {
  position: absolute;
  right: .2rem;
}
.userInfo .opt i {
  font-size: 1.4rem;
  margin-left: 2rem;
}
.userInfo .opt i:hover {
  color: #616161;
}
.userInfo .opt span {
  font-size: 1.4rem;
  margin-left: .2rem;
}

/* 回复信息 */
.replyInfo {
  margin: 1rem 1.2rem 0 2.5rem;
}

@media(max-width: 600px) {
  /* 回复信息 */
  .replyInfo {
    font-size: 1.4rem;
    margin: 1rem 1.2rem 0 2.8rem;
  }

  /* 点赞icon */
  /* .userInfo .opt i {
    font-size: 1.4rem;
  } */
}
