main {
  height: 100vh;
  width: 100vw;
}

/* 页面头部 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #444;
  line-height: 50px;
  height: auto;
  width: 100%;
  color: #fff;
  box-shadow: 2px 0 15px rgba(0,0,0,.8);
}

/* logo */
.tmTbod {
  display: flex;
  align-items: center;
  height: 50px;
}
.imgLogo {
  width: 120px;
  height: 28px;
  padding-bottom: .5em;
  padding-right: 24px;
  margin-left: 30px;
  border-right: 1px solid rgba(255, 255, 255, .5); 
}
.crumb {
  padding-left: 24px;
  font-size: 1.8rem;
}
.menu { display: none }

/* 登录 */
.avatar {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 2rem;
}

/* 主体部分 */
.container {
  background-color: #e1e1e1;
  width: 100vw;  
  margin: 15px auto;
  margin-top: 70px;
}
.content {
  padding: 0 5%;
  margin-left: 200px;
  height: 100%;
}
/* 侧边栏 */
.currentType { color: #80bd01 }
.sider {
  position: fixed;
  width: 200px;
  float: left;
}
.absoluteSider {
  position: fixed;
  height: 100%;
  width: 200px;
  top: 0;
  left: -200px;
  padding-top: 100px;
  z-index: 100;
  background-color: #f7f7f7;
  box-shadow: 2px 0 10px rgba(0, 0, 0, .6);

  transition: left .5s;
}
.absoluteSider > ul > li > a,
.sider > ul > li > a {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  color: #424242;
  font-weight: 500;
  font-size: 1.4rem;
}
.absoluteSider > ul > li > a > i,
.sider > ul > li > a > i {
  font-size: 2.4rem;
  margin-right: 20px;
}

@media (max-width: 840px) {
  .sider { width: 120px; }
  .content { margin-left: 120px; }
}

@media (max-width: 600px) {
  /* header */
  .tmTbod {
    border-bottom: 1px solid rgba(255, 255, 255, .15); 
  }
  .imgLogo {
    padding-right: 0;
    border-right: none; 
  }
  .crumb { display: none }
  .menu {
    display: block;
    position: absolute;
    right: 30px;
    font-size: 1.6rem;
  }
  .avatar {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  /* container */
  .container { margin-top: 100px; }
  .content { 
    margin-left: 0;
    padding: 0;
  }
  .sider {
    top: 0;
    left: -200px;
    height: 100%;
    width: 200px;
    padding-top: 100px;
    z-index: 100;
    background-color: #f7f7f7;
    box-shadow: 2px 0 10px rgba(0, 0, 0, .6);

    transition: left .3s;
  }
}