main {
  height: 100vh;
  width: 100vw;
}

/* 页面头部 */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #444;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3.2em;
}

.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.headerNav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
}
.headerNav > ul > li {
  list-style: none;
  margin-left: 20px;
}
.headerNav > ul > li > a {
  color: #fff;
  font-size: 1.4rem;
}

.imgLogo {
  width: 120px;
  height: 28px;

  margin-bottom: .5em;
}

/* 主体部分 */
.container {
  background: #e1e1e1;
  width: 90vw;  
  margin: 15px auto;
}